<div class="navbar">
    <div class="leftbar">
        <ul>
            <li><a href=" "><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVHDyOq-G2nM1sQVk5ICoR84Fsmd_MTzwAF1rhEg7lEdovP8Wryzw8apfmH0oH3M5EAI&usqp=CAU" alt="">FOOD FUN</a>
            <div style="margin-top: 5%; margin-left: -8%;">
                
            </div>
        </ul>
    </div>
    <div class="rightbar">
        <ul>
            <!-- <div class="search-container" style="margin-top:3%;">
              <span *ngIf="!showSearch" class="search-button" (click)="toggleSearch()">Search</span>
              <input style="margin-bottom: 6%;" *ngIf="showSearch" type="text" placeholder="🔍 Search..." [(ngModel)]="query" (input)="search()">
            </div>
            <div *ngIf="searchResults.length > 0" class="search-results">
              <h3>Search Results</h3>
              <ul>
                <li *ngFor="let result of searchResults">
                  <img *ngIf="result.imageUrl" [src]="result.imageUrl" alt="{{ result.name }}">
                  <div>
                    <p>{{ result.name }} (ID: {{ result.id }})</p>
                  </div>
                </li>
              </ul>
            </div> -->
            <!-- <div>
              <h2>Search by Name</h2>
              <input type="text" [(ngModel)]="searchName" placeholder="Enter restaurant name">
              <button (click)="searchByName(searchName)">Search</button>
               
                <div *ngIf="restaurants">
              <h3>Search Results</h3>
              <ul>
              <li *ngFor="let restaurant of restaurants">
              <a href="javascript:void(0)" (click)="getById(restaurant.id)">{{ restaurant.name }}</a>
              </li>
              </ul>
              </div>
               
                <h2>Search by ID</h2>
              <input type="number" [(ngModel)]="searchId" placeholder="Enter restaurant ID">
              <button (click)="getById(searchId)">Search</button>
               
                <div *ngIf="selectedRestaurant">
              <h3>Selected Restaurant</h3>
              <p>ID: {{ selectedRestaurant.id }}</p>
              <p>Name: {{ selectedRestaurant.name }}</p>
              Add more details as needed
              </div>
              </div> -->


           <li><button class="nav-link" routerLink="support" style="margin-left: 50%;">
            Help
          </button></li>
          <li><app-profile></app-profile></li>
          <li>
            <span class="bi bi-cart" routerLink="cart" style="font-size:1.1rem">&nbsp;Cart</span>
          </li>
        </ul>
    </div>
  </div>